.travis.yml
.pio/build/project.checksum
.pio/build/bluepill_f103c8/.sconsign39.dblite
.pio/build/bluepill_f103c8/firmware.bin
.pio/build/bluepill_f103c8/firmware.elf
.pio/build/bluepill_f103c8/idedata.json
.pio/build/bluepill_f103c8/libFrameworkCMSISDevice.a
.pio/build/bluepill_f103c8/libFrameworkHALDriver.a
.pio/build/bluepill_f103c8/FrameworkCMSISDevice/system_stm32f1xx.o
.pio/build/bluepill_f103c8/FrameworkCMSISDevice/gcc/startup_stm32f103xb.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_adc_ex.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_adc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_can.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_cec.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_cortex.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_crc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_dac_ex.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_dac.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_dma.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_eth.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_flash_ex.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_flash.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_gpio_ex.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_gpio.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_hcd.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_i2c.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_i2s.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_irda.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_iwdg.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_mmc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_nand.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_nor.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_pccard.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_pcd_ex.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_pcd.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_pwr.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_rcc_ex.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_rcc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_rtc_ex.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_rtc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_sd.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_smartcard.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_spi_ex.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_spi.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_sram.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_tim_ex.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_tim.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_uart.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_usart.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal_wwdg.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_hal.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_adc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_crc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_dac.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_dma.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_exti.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_fsmc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_gpio.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_i2c.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_pwr.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_rcc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_rtc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_sdmmc.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_spi.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_tim.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_usart.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_usb.o
.pio/build/bluepill_f103c8/FrameworkHALDriver/Src/stm32f1xx_ll_utils.o
.pio/build/bluepill_f103c8/src/main.o
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.pio/build/bluepill_f103c8_fake/.sconsign39.dblite
.pio/build/bluepill_f103c8_fake/firmware.bin
.pio/build/bluepill_f103c8_fake/firmware.elf
.pio/build/bluepill_f103c8_fake/libFrameworkCMSISDevice.a
.pio/build/bluepill_f103c8_fake/FrameworkCMSISDevice/system_stm32f1xx.o
.pio/build/bluepill_f103c8_fake/FrameworkCMSISDevice/gcc/startup_stm32f103xb.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_adc_ex.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_adc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_can.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_cec.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_cortex.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_crc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_dac_ex.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_dac.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_dma.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_eth.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_exti.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_flash_ex.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_flash.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_gpio_ex.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_gpio.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_hcd.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_i2c.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_i2s.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_irda.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_iwdg.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_mmc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_nand.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_nor.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_pccard.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_pcd_ex.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_pcd.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_pwr.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_rcc_ex.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_rcc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_rtc_ex.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_rtc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_sd.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_smartcard.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_spi.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_sram.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_tim_ex.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_tim.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_uart.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_usart.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal_wwdg.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_hal.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_adc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_crc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_dac.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_dma.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_exti.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_fsmc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_gpio.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_i2c.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_pwr.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_rcc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_rtc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_sdmmc.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_spi.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_tim.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_usart.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_usb.o
.pio/build/bluepill_f103c8_fake/FrameworkHALDriver/Src/stm32f1xx_ll_utils.o
.pio/build/bluepill_f103c8_fake/lib9cb/libCDC.a
.pio/build/bluepill_f103c8_fake/lib9cb/CDC/usbd_cdc.o
.pio/build/bluepill_f103c8_fake/libb60/libUSB_DEVICE.a
.pio/build/bluepill_f103c8_fake/libb60/USB_DEVICE/usb_device.o
.pio/build/bluepill_f103c8_fake/libb60/USB_DEVICE/usbd_cdc_if.o
.pio/build/bluepill_f103c8_fake/libb60/USB_DEVICE/usbd_conf.o
.pio/build/bluepill_f103c8_fake/libb60/USB_DEVICE/usbd_desc.o
.pio/build/bluepill_f103c8_fake/libdd5/libCore.a
.pio/build/bluepill_f103c8_fake/libdd5/Core/usbd_core.o
.pio/build/bluepill_f103c8_fake/libdd5/Core/usbd_ctlreq.o
.pio/build/bluepill_f103c8_fake/libdd5/Core/usbd_ioreq.o
.pio/build/bluepill_f103c8_fake/src/main.o
lib/Middlewares/ST/STM32_USB_Device_Library/Class/CDC/Inc/usbd_cdc.h
lib/Middlewares/ST/STM32_USB_Device_Library/Class/CDC/Src/usbd_cdc.c
lib/Middlewares/ST/STM32_USB_Device_Library/Core/Inc/usbd_core.h
lib/Middlewares/ST/STM32_USB_Device_Library/Core/Inc/usbd_ctlreq.h
lib/Middlewares/ST/STM32_USB_Device_Library/Core/Inc/usbd_def.h
lib/Middlewares/ST/STM32_USB_Device_Library/Core/Inc/usbd_ioreq.h
lib/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_core.c
lib/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ctlreq.c
lib/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ioreq.c
lib/USB_DEVICE/usb_device.c
lib/USB_DEVICE/usb_device.h
lib/USB_DEVICE/usbd_cdc_if.c
lib/USB_DEVICE/usbd_cdc_if.h
lib/USB_DEVICE/usbd_conf.c
lib/USB_DEVICE/usbd_conf.h
lib/USB_DEVICE/usbd_desc.c
lib/USB_DEVICE/usbd_desc.h
.vscode/tasks.json
.pio/build/bluepill_f103c8_fake/idedata.json
.pio/build/bluepill_f103c8_fake/src/pins.o
__pycache__/swo_parser.cpython-39.pyc
__pycache__/swo_parser.cpython-310.pyc
